// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024, 2025, Qualcomm Innovation Center, Inc. All rights reserved.
 * Copyright (c) 2026 Radxa Computer (Shenzhen) Co., Ltd.
 */
/dts-v1/;

#include "qcs9075-radxa-vmarc-q9075.dtsi"

/ {
	model = "Radxa VMARC-Q9075 IO";
	compatible = "radxa,vmarc-q9075-io", "qcom,qcs9075", "qcom,sa8775p";

	vcc_usb_hub_regulator: vcc-usb-hub-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_usb_hub";
		gpio = <&pmm8654au_2_gpios 5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pme_gpio_5_usb2_pwer_en>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		enable-active-high;
		regulator-always-on;
	};

	vcc_usb_regulator: vcc-usb-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_usb";
		gpio = <&pmm8654au_2_gpios 6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&pme_gpio_6_usb3_pwr_en>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		enable-active-high;
		regulator-always-on;
	};

	vcc3v3_sys_regulator: vcc3v3-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		gpio = <&pmm8654au_2_gpios 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&pme_gpio_7_usb4_pwr_en>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	usb20_5v_regulator: usb20-5v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "usb20_5v";
		gpio = <&pmm8654au_1_gpios 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&usb20_5v_en>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-boot-on;
		regulator-always-on;
	};

	vcc_3v3_ssd_regulator: vcc-3p3-ssd-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_ssd";
		gpio = <&pmm8654au_2_gpios 3 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_3v3_ssd_en_state>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		enable-active-high;
		regulator-always-on;
	};

	vcc_3v3_key_regulator: vcc-3v3-key-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_key";
		gpio = <&pmm8654au_1_gpios 9 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_3v3_key_en>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		enable-active-high;
		regulator-always-on;
	};

	vcc_1v8_io_regulator: vcc-1v8-io-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_io";
		gpio = <&tlmm 73 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&vcc_1v8_io_en_state>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	switch_to_ekey_usb_regulator: switch-to-ekey-usb-regulator {
		compatible = "regulator-fixed";
		regulator-name = "switch_to_ekey_usb";
		gpio = <&pmm8654au_2_gpios 11 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&switch_to_ekey_usb>;
		enable-active-high;
		regulator-boot-on;
		regulator-always-on;
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&gpio_keys_default>;
		pinctrl-names = "default";

		power-key {
			label = "Power Off";
			gpios = <&tlmm 97 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			wakeup-source;
			debounce-interval = <30>;
		};
	};

	gpio_leds: leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pme_gpio_10_led>;

		blue_led {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
			gpios = <&pca 0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		green_led {
			color = <LED_COLOR_ID_GREEN>;
			function = LED_FUNCTION_STATUS;
			gpios = <&pmm8654au_2_gpios 10 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
		};
	};

	fan_pwm: pwm {
		compatible = "clk-pwm";
		#pwm-cells = <2>;
		clocks = <&gcc GCC_GP1_CLK>;
		gpios = <&tlmm 51 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default", "gpio";
		pinctrl-0 = <&fan_pwm_clk_state>;
		pinctrl-1 = <&fan_pwm_gpio_state>;
	};

	fan0: pwm-fan {
		compatible = "pwm-fan";
		pwms = <&fan_pwm 0 100000>;
		cooling-levels = <0 64 128 192 255>;
		#cooling-cells = <2>;
		status = "okay";
	};
};

&thermal_zones {
	cpu-0-1-0-thermal {
		polling-delay = <1000>;
		polling-delay-passive = <1000>;

		trips {
			fan_cpu_threshold: fan-cpu-threshold {
				temperature = <50000>;
				hysteresis = <2000>;
				type = "active";
			};
		};

		cooling-maps {
			fan-map {
				trip = <&fan_cpu_threshold>;
				cooling-device = <&fan0 0 4>;
				contribution = <2048>;
			};
		};
	};

	gpuss-0-thermal {
		polling-delay = <1000>;
		polling-delay-passive = <1000>;

		trips {
			fan_gpu_threshold: fan-gpu-threshold {
				temperature = <50000>;
				hysteresis = <2000>;
				type = "active";
			};
		};

		cooling-maps {
			fan-map {
				trip = <&fan_gpu_threshold>;
				cooling-device = <&fan0 0 4>;
				contribution = <1024>;
			};
		};
	};
};

&i2c1 {
	qcom,load-firmware;
	qcom,xfer-mode = <1>;
	status = "okay";

	pca: pca@55 {
		compatible = "nxp,pca9685-pwm";
		#pwm-cells = <2>;
		#gpio-cells = <2>;
		gpio-controller;
		reg = <0x55>;

		gpio-line-names =
		/* GPIO0 ~  GPIO3 */
		"", "PIN_37", "PIN_7", "PIN_11",
		/* GPIO4 ~  GPIO7 */
		"PIN_13", "PIN_15", "PIN_29", "PIN_31",
		/* GPIO8 ~ GPIO11 */
		"PIN_36", "PIN_32", "PIN_22", "PIN_18",
		/* GPIO12 ~ GPIO15 */
		"PIN_16", "PIN_10", "PIN_8", "PIN_33";
	};
};

&i2c7 {
	qcom,load-firmware;
	qcom,xfer-mode = <1>;
	pinctrl-0 = <&qup_i2c7_default>;
	pinctrl-names = "default";
	status = "okay";

	/* RTC RS4C411ZAE */
	rtc_m41t11: rtc-m41t11@68 {
		compatible = "st,m41t11";
		reg = <0x68>;
	};
};

&qup_spi16_default {
	pins = "gpio86", "gpio87", "gpio88";
	function = "qup2_se2";
	drive-strength = <6>;
	bias-disable;
};

&spi16 {
	qcom,load-firmware;
	qcom,xfer-mode = <1>;

	num-cs = <2>;
	cs-gpios = <&tlmm 89 GPIO_ACTIVE_LOW>,
			<&tlmm 90 GPIO_ACTIVE_LOW>;

	pinctrl-names = "default";
	pinctrl-0 = <&qup_spi16_default &spi16_cs_gpio_state>;

	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	mcp2518fd_can2: can@0 {
		compatible = "microchip,mcp2518fd";
		reg = <0>;
		clock-frequency = <40000000>;
		spi-max-frequency = <5000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&mcp2518fd_spi16_can0_int_state>;
		interrupt-names = "can2_irq";
		interrupts-extended = <&tlmm 78 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";
	};

	mcp2518fd_can3: can@1 {
		compatible = "microchip,mcp2518fd";
		reg = <1>;
		clock-frequency = <40000000>;
		spi-max-frequency = <5000000>;
		pinctrl-names = "default";
		pinctrl-0 = <&mcp2518fd_spi16_can1_int_state>;
		interrupt-names = "can3_irq";
		interrupts-extended = <&tlmm 79 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";
	};
};

&uart9 {
	qcom,load-firmware;
	qcom,xfer-mode = <1>;
	pinctrl-0 = <&qup_uart9_tx>, <&qup_uart9_rx>;
	pinctrl-names = "default";
	status = "okay";
};

&uart12 {
	qcom,load-firmware;
	qcom,xfer-mode = <1>;
	pinctrl-0 = <&qup_uart12_tx>,  <&qup_uart12_rx>;
	pinctrl-names = "default";
	status = "okay";
};

&qup_uart17_rts {
	bias-pull-down;
};

&uart17 {
	qcom,load-firmware;
	qcom,xfer-mode = <1>;
	pinctrl-0 = <&qup_uart17_rts>, <&qup_uart17_tx>, <&qup_uart17_rx>;
	pinctrl-names = "default";
	status = "okay";
	linux,rs485-enabled-at-boot-time;
};

&pmm8654au_1_gpios {

	usb20_5v_en: usb20-5v-en-state {
		pins = "gpio7";
		function = "normal";
		output-high;
		bias-pull-up;
	};

	vcc_3v3_key_en: vcc-3v3-key-en-state {
		pins = "gpio9";
		function = "normal";
		output-high;
		bias-pull-up;
	};
};

&pmm8654au_2_gpios {

	vcc_3v3_ssd_en_state: vcc-3v3-ssd-en-state {
		pins = "gpio3";
		function = "normal";
		output-high;
		bias-pull-up;
	};

	pme_gpio_5_usb2_pwer_en: pme-gpio-5-usb2-pwr-en-state {
		pins = "gpio5";
		function = "normal";
		output-high;
		bias-pull-up;
	};

	pme_gpio_6_usb3_pwr_en: pme-gpio-6-usb3-pwr-en-state {
		pins = "gpio6";
		function = "normal";
		output-high;
		bias-pull-up;
	};

	pme_gpio_7_usb4_pwr_en: pme-gpio-7-usb4-pwr-en-state {
		pins = "gpio7";
		function = "normal";
		output-high;
		bias-pull-up;
	};

	switch_to_ekey_usb: switch-to-ekey-usb-state {
		pins = "gpio11";
		function = "normal";
		output-high;
		bias-pull-high;
	};

	pme_gpio_10_led: pme-gpio-10-led-state {
		pins = "gpio10";
		function = "normal";
		output-low;
		bias-disable;
	};
};

&tlmm {

	gpio-line-names =
		/* GPIO0 ~  GPIO3 */
		"", "", "", "",
		/* GPIO4 ~  GPIO7 */
		"", "", "", "",
		/* GPIO8 ~ GPIO11 */
		"", "", "", "",
		/* GPIO12 ~ GPIO15 */
		"", "PIN_21", "PIN_19", "PIN_23",
		/* GPIO16 ~ GPIO19 */
		"PIN_24", "PIN_26", "", "",
		/* GPIO20 ~ GPIO23 */
		"", "", "", "",
		/* GPIO24 ~ GPIO27 */
		"", "", "", "",
		/* GPIO28 ~ GPIO31 */
		"", "", "", "",
		/* GPIO32 ~ GPIO35 */
		"", "", "", "",
		/* GPIO36 ~ GPIO39 */
		"", "", "", "",
		/* GPIO40 ~ GPIO43 */
		"PIN_3", "PIN_5", "", "",
		/* GPIO44 ~ GPIO47 */
		"", "", "", "",
		/* GPIO48 ~ GPIO51 */
		"", "", "", "",
		/* GPIO52 ~ GPIO55 */
		"", "", "", "",
		/* GPIO56 ~ GPIO59 */
		"", "", "", "",
		/* GPIO60 ~ GPIO63 */
		"", "", "", "",
		/* GPIO64 ~ GPIO67 */
		"", "", "", "",
		/* GPIO68 ~ GPIO71 */
		"", "", "", "",
		/* GPIO72 ~ GPIO75 */
		"", "", "", "",
		/* GPIO76 ~ GPIO79 */
		"", "", "", "",
		/* GPIO80 ~ GPIO83 */
		"", "", "", "",
		/* GPIO84 ~ GPIO87 */
		"", "", "", "",
		/* GPIO88 ~ GPIO91 */
		"", "", "", "",
		/* GPIO92 ~ GPIO95 */
		"", "", "", "PIN_27",
		/* GPIO96 ~ GPIO99 */
		"PIN_28", "", "", "",
		/* GPIO100 ~ GPIO103 */
		"", "", "", "",
		/* GPIO104 ~ GPIO107 */
		"", "", "", "",
		/* GPIO108 ~ GPIO111 */
		"", "", "PIN_12", "PIN_35",
		/* GPIO112 ~ GPIO115 */
		"PIN_38", "PIN_40", "", "",
		/* GPIO116 ~ GPIO119 */
		"", "", "", "",
		/* GPIO120 ~ GPIO123 */
		"", "", "", "",
		/* GPIO124 ~ GPIO127 */
		"", "", "", "",
		/* GPIO128 ~ GPIO131 */
		"", "", "", "",
		/* GPIO132 ~ GPIO135 */
		"", "", "", "",
		/* GPIO136 ~ GPIO139 */
		"", "", "", "",
		/* GPIO140 ~ GPIO143 */
		"", "", "", "",
		/* GPIO144 ~ GPIO147 */
		"", "", "", "",
		/* GPIO148 ~ GPIO149 */
		"", "";

	gpio_keys_default: gpio-keys-default-state {
		pins = "gpio97";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};

	fan_pwm_clk_state: fan-pwm-clk-state {
		pins = "gpio51";
		function = "gcc_gp1";
		drive-strength = <2>;
		bias-disable;
	};

	fan_pwm_gpio_state: fan-pwm-gpio-state {
		pins = "gpio51";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	vcc_1v8_io_en_state: vcc-1v8-io-en-state {
		pins = "gpio73";
		function = "gpio";
		output-high;
		bias-pull-up;
	};

	spi16_cs_gpio_state: spi16-cs-gpio-state {
		pins = "gpio89", "gpio90";
		function = "gpio";
		drive-strength = <6>;
		bias-pull-up;
		output-high;
	};

	mcp2518fd_spi16_can0_int_state: mcp2518fd-spi16-can0-int-state {
		pins = "gpio78";
		function = "gpio";
		bias-pull-up;
		input-enable;
	};

	mcp2518fd_spi16_can1_int_state: mcp2518fd-spi16-can1-int-state {
		pins = "gpio79";
		function = "gpio";
		bias-pull-up;
		input-enable;
	};
};
