// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2018 Fuzhou Rockchip Electronics Co., Ltd
 * Copyright (c) 2026 Radxa Computer (Shenzhen) Co., Ltd.
 */

/dts-v1/;

#include "rk3308-radxa-rcore-rk3308.dtsi"

/ {
	model = "Radxa rCore-RK3308 IO";
	compatible = "radxa,rcore-rk3308-io", "radxa,rcore-rk3308", "rockchip,rk3308";

	bt_reg_on_h: bt-reg-on-regulator {
		compatible = "regulator-fixed";
		regulator-name = "bt_reg_on";
		enable-active-high;
		gpio = <&gpio4 RK_PB3 GPIO_ACTIVE_HIGH>;
		regulator-always-on;
	};

	vcc_host_vbus: vcc-host-vbus {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&host_vbus_drv>;
		regulator-name = "vcc_host_vbus";
	};
};

&emmc {
	status = "okay";
};

&sdmmc {
	status = "okay";
};

&sdio {
	/delete-property/ sd-uhs-sdr104;

	#address-cells = <1>;
	#size-cells = <0>;
	max-frequency = <150000000>;
	bus-width = <4>;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	sd-uhs-sdr50;
	vmmc-supply = <&vcc_io>;
	vqmmc-supply = <&vcc_1v8>;
	status = "okay";

	rtl8723ds: wifi@1 {
		reg = <1>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA0 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "host-wake";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_wake_host>;
	};
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_xfer &uart4_cts &uart4_rts>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "realtek,rtl8723ds-bt";
		device-wake-gpios = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;
		host-wake-gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&bt_wake_host &host_wake_bt>;
	};
};

&u2phy {
	status = "okay";

	u2phy_host: host-port {
		phy-supply = <&vcc_host_vbus>;
		status = "okay";
	};

	u2phy_otg: otg-port {
		vbus-supply = <&vcc_host_vbus>;
		status = "okay";
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <400000>;
	#address-cells = <1>;
	#size-cells = <0>;

	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "xin32k";
		status = "okay";
	};
};

&usb20_otg {
	status = "okay";
};

&usb_host0_ehci {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	hub@1 {
		compatible = "usb1a40,0101";
		reg = <1>;
		reset-gpios = <&gpio0 RK_PB7 GPIO_ACTIVE_LOW>;
	};
};

&usb_host0_ohci {
	status = "okay";
};

&pinctrl {
	bluetooth {
		bt_wake_host: bt-wake-host {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		host_wake_bt: host-wake-bt {
			rockchip,pins = <4 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	usb {
		host_vbus_drv: host-vbus-drv {
			rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
